﻿
@{
    ViewBag.Title = "BuyDetails";
}

<h2>BuyDetails</h2>

@if (Session["ErrorKol"] != null)
{
    <h3 style="color:red"> @Session["ErrorKol"] </h3>
}

<table border="1" class="table">

    <tr>
        <th hidden> ID </th>
        <th> Naziv </th>
        <th> VrstaMeda </th>
        <th> Proizvodjac </th>
        <th> AdresaProizvodjaca </th>
        <th> Boja </th>
        <th> Opis </th>
        <th> CenaPoTegli </th>
        <th> TeglasLeft </th>
        <th> Broj tegli za kupovinu </th>
    </tr>

    @{ 
        WP_K2_PR_161_2018.Models.Proizvod pr = ViewBag.Chosen;
    }

     <tr>
        <td> @pr.Naziv </td>
        <td> @pr.VrstaMeda </td>
        <td> @pr.Proizvodjac </td>
        <td> @pr.AdresaProizvodjaca </td>
        <td> @pr.Boja </td>
        <td> @pr.Opis </td>
        <td> @pr.CenaPoTegli </td>
        <td> @pr.TeglasLeft </td>
        <td>
            <form action="~/Korpa/KupiProizvod" method="post">

                <input type="text" name="id" value="@pr.id" hidden />
                <input type="text" name="Naziv" value="@pr.Naziv" hidden />
                <input type="text" name="VrstaMeda" value="@pr.VrstaMeda" hidden />
                <input type="text" name="Proizvodjac" value="@pr.Proizvodjac" hidden />
                <input type="text" name="AdresaProizvodjaca" value="@pr.AdresaProizvodjaca" hidden />
                <input type="text" name="Boja" hidden value="@pr.Boja" />
                <input type="text" name="Opis" hidden value="@pr.Opis" />
                <input type="text" name="CenaPoTegli" hidden value="@pr.CenaPoTegli" />
                <input type="text" name="TeglasLeft" hidden value="@pr.TeglasLeft" />
                <input type="number" name="kolicina"/>
                <input type="submit" value="BUY"/>

            </form>
        </td>

     </tr>

</table>

