﻿
@{
    ViewBag.Title = "KorpaView";
}

<h2>KorpaView</h2>
@if (Session["Empty"].ToString() == "True")
{

    <table border="1" class="table">

        <tr>
            <th> ID </th>
            <th> Kupac </th>
            <th> Naziv proizvoda </th>
            <th> Vrsta </th>
            <th> Proizvodjac </th>
            <th> Adresa proizvodjaca </th>
            <th> Boja </th>
            <th> Opis </th>
            <th> Cena po tegli </th>
            <th> Preostala količina </th>
            <th> Datum </th>
            <th> Naručen broj tegli </th>
            <th> Ukupna cena </th>
        </tr>

        @foreach (var kup in ViewBag.Kup)
        {
            <tr>

                <td> @kup.Kupovina_ID </td>
                <td> @kup.kupac.Username </td>
                <td> @kup.proizvod.Naziv </td>
                <td> @kup.proizvod.VrstaMeda </td>
                <td> @kup.proizvod.Proizvodjac </td>
                <td> @kup.proizvod.AdresaProizvodjaca </td>
                <td> @kup.proizvod.Boja </td>
                <td> @kup.proizvod.Opis </td>
                <td> @kup.proizvod.CenaPoTegli </td>
                <td> @kup.proizvod.TeglasLeft </td>
                <td> @kup.datum </td>
                <td> @kup.Broj_Tegli </td>
                <td> @kup.Ukupna_Cena </td>

            </tr>

        }

    </table>
    <br/>
    <a href="~/Home/Index"> Povratak na izbor medova </a>

}
else
{
    <h3> Korisnička korpa je prazna! </h3>
}

