﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{ 
                        string tab = "\t";
                    }

                    @if (Session["User"] == null)
                    {
                        <a style="margin:25px;border:dotted; text-size-adjust:180%" href="~/Home/Log"> <b>  Log In @tab </b> </a>
                    }
                    <a style="margin:25px;border:dotted; text-size-adjust:180%" href="~/Autentifikacija/Register"> <b> Register @tab </b> </a>
                    <a style="margin:25px;border:dotted; text-size-adjust:180%" href="~/Home/Index"><b>     Product list @tab    </b></a>

                    @if (Session["User"] != null)
                    {
                          <a style="margin:25px;border:dotted; text-size-adjust:180%" href="~/Autentifikacija/LogOut"><b> Log out @tab </b></a>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
