﻿@{
    ViewBag.Title = "KupacList";
}

<h2>KupacList</h2>

<table border="1" class="table">

    <tr>
        <th> Username: </th>
        <th> Ime: </th>
        <th> Prezime: </th>
        <th> Pol: </th>
        <th> Email: </th>
        <th> Datum rođenja: </th>
        <th> &nbsp; </th>
    </tr>

    @foreach(var us in ViewBag.kupci)
    {
        <tr>
            <td> @us.Username </td>
            <td> @us.Ime </td>
            <td> @us.Prezime </td>
            <td> @us.Pol.ToString(); </td>
            <td> @us.Email </td>
            <td> @us.Date.ToString("dd'/'MM'/'yyyy"); </td>
            <td>
                <form action="~/Admin/DeleteUser" method="post">
                    <input type="text" name="username" value="@us.Username" hidden />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }

</table>
