﻿
@{
    ViewBag.Title = "Index";
}

<h2>Log in:</h2>

@if (Session["Error"] != null)
{
    <h4 style="color:red"> @Session["Error"] </h4>
}

<form action="~/Autentifikacija/LogIn" method="post">

    Username: <input type="text" name="username" /> <br />
    Password: <input type="password" name="password"/> <br />
    <input type="submit" value="LOG IN" />
    <input type="reset" value="RESET"/>

</form>

