﻿
@{
    ViewBag.Title = "Register";
}

<h2>Register a new user</h2>

@if (Session["Error"] != null)
{
    <h4 style="color:red"> @Session["Error"] </h4>
}

<form action="~/Autentifikacija/RegisterUser" method="post">

    Username: <input type="text" name="username" /> <br />
    Name:     <input type="text" name="ime" /> <br />
    Lastname: <input type="text" name="prezime" /> <br />
    Password: <input type="password" name="password" /> <br />
    Pol:      <input list="lis" name="pol" /> <br />
    <datalist id="lis">
        <option value="M"></option>
        <option value="Z"></option>
        <option value="OTHER"></option>
    </datalist>
    E-Mail:   <input type="email" name="email" /> <br />
    Datum:    <input type="date" name="date" /> <br />
    <input type="submit" value="REGISTER" />
    <input type="reset" value="RESET" />
</form>

