﻿
@{
    ViewBag.Title = "AddNewProduct";
}

<h2>Add New Product</h2>

@if (Session["ErrorProduct"] != null)
{
    <h3 style="color:red"> @Session["ErrorProduct"] </h3>
}

<form action="~/Proizvodi/AddThisProduct" method="post">

    Naziv:              <input type="text" name="Naziv" /> <br />
    Vrsta meda:         <input type="text" name="VrstaMeda" />  <br />
    Proizvodjac:        <input type="text" name="Proizvodjac" /><br />
    AdresaProizvodjaca: <input type="text" name="AdresaProizvodjaca" /><br />
    Boja:               <input type="text" name="Boja" /><br />
    Opis:               <input type="text" name="Opis" /><br />
    CenaPoTegli:        <input type="text" name="CenaPoTegli" /><br />
    TeglasLeft:         <input type="text" name="TeglasLeft"/><br />
    <input type="submit" value="Add product"/>
    <input type="reset" value="Reset"/>

</form>

