﻿
@{
    ViewBag.Title = "ModifyProizvod";
}

<h2>ModifyProizvod</h2>

@{ 
    WP_K2_PR_161_2018.Models.Proizvod pro = (WP_K2_PR_161_2018.Models.Proizvod)Session["ModifProizv"];
    if (Session["Error"] != null)
    {
        <p style="color:red"> @Session["Error"] </p>
    }
}

<form action="~/Proizvodi/replaceProduct" method="post">

    <input type="text" name="id" value="@pro.id" hidden/>
    Naziv:              <input type="text" name="Naziv" value="@pro.Naziv" /> <br />
    Vrsta meda:         <input type="text" name="VrstaMeda" value="@pro.VrstaMeda" />  <br />
    Proizvodjac:        <input type="text" name="Proizvodjac" value="@pro.Proizvodjac" /><br />
    AdresaProizvodjaca: <input type="text" name="AdresaProizvodjaca" value="@pro.AdresaProizvodjaca" /><br />
    Boja:               <input type="text" name="Boja" value="@pro.Boja" /><br />
    Opis:               <input type="text" name="Opis" value="@pro.Opis" /><br />
    CenaPoTegli:        <input type="text" name="CenaPoTegli" value="@pro.CenaPoTegli" /><br />
    TeglasLeft:         <input type="text" name="TeglasLeft" value="@pro.TeglasLeft" /><br />
    <input type="submit" value="Add product" />
    <input type="reset" value="Reset" />

</form>

