﻿@{
    ViewBag.Title = "Home Page";
}

<h3>PROIZVODI</h3>

@if (Session["User"] != null)
{
    WP_K2_PR_161_2018.Models.User u = (WP_K2_PR_161_2018.Models.User)Session["User"];
    if (u.Type.Equals(WP_K2_PR_161_2018.Models.UserType.ADMINISTRATOR))
    {
        <hr />
        <h5> Special administrator options: </h5>

        <form action="~/Admin/KupacList" method="post">

            <input type="submit" value="Lista kupaca" />

        </form>

        <hr />
    }

    if (u.Type.Equals(WP_K2_PR_161_2018.Models.UserType.KUPAC))
    {
        <br />
        <form action="~/Korpa/KorpaView">

            <input type="submit" value="MOJA KORPA"/>

        </form>
        <br />
    }

}


<p> Sort items by: </p>

<form action="~/Proizvodi/Sort" method="post">

    <input list="listy" name="chosen" />
    <datalist id="listy">
        <option value="NAZIV"></option>
        <option value="VRSTA MEDA"></option>
        <option value="CENA"></option>
    </datalist>

    <input list="listy2" name="updown" />
    <datalist id="listy2">
        <option value="RASTUĆe"></option>
        <option value="OPADAJUĆE"></option>
    </datalist>

    <input type="submit" value="SORT" />

</form>
<br />

<form action="~/Proizvodi/FindByNaziv" method="post">

    Search by Naziv: <input type="text" name="naziv" />
    <input type="submit" value="Search by naziv" />

</form>

<br />

<form action="~/Proizvodi/FindByVrsta" method="post">

    Search by Vrsta meda: <input type="text" name="vrsta" />
    <input type="submit" value="Search by vrsta" />

</form>

<br />

<form action="~/Proizvodi/FilterCena" method="post">

    Od: <input type="number" name="od" />
    Do: <input type="number" name="doo" />
    <input type="submit" value="Search by price" />

</form>

<br />

<form action="~/Proizvodi/Reset" method="post">

    <input type="submit" value="Reset Sort & Search" />

</form>

<br />

@if (Session["User"] != null)
{
    WP_K2_PR_161_2018.Models.User u = (WP_K2_PR_161_2018.Models.User)Session["User"];
    if (u.Type.Equals(WP_K2_PR_161_2018.Models.UserType.ADMINISTRATOR))
    {
        <form action="~/Proizvodi/AddNewProduct">
            <input type="submit" value="Add a new product" />
        </form>

        <br />

    }
}



<table border="1" class="table">

    <tr>
        <th> ID </th>
        <th> Naziv </th>
        <th> Vrsta meda </th>
        <th> Proizvodjac </th>
        <th> Adresa proizvodjaca </th>
        <th> Boja </th>
        <th> Opis </th>
        <th> Cena po tegli </th>
        <th> Preostalo kom. </th>
        <th hidden> ID </th>
    </tr>

   @foreach (var pr in ViewBag.Producty)
    {
     <tr>
         <td> @pr.id </td>
        <td> @pr.Naziv </td>
        <td> @pr.VrstaMeda </td>
        <td> @pr.Proizvodjac </td>
        <td> @pr.AdresaProizvodjaca </td>
        <td> @pr.Boja </td>
        <td> @pr.Opis </td>
        <td> @pr.CenaPoTegli </td>
        <td> @pr.TeglasLeft </td>
        @if (Session["User"] != null)
        {
            WP_K2_PR_161_2018.Models.User u = (WP_K2_PR_161_2018.Models.User)Session["User"];
            if (u.Type.Equals(WP_K2_PR_161_2018.Models.UserType.ADMINISTRATOR))
            {
                <td>
                    <form action="~/Proizvodi/ModifyProizvod" method="post">
                        <input type="text" name="id" value="@pr.id" hidden />
                        <input type="submit" value="MODIFY" />
                    </form>
                </td>
            }
            else
            {
                <td>
                    <form action="~/Korpa/Kupi" method="post">
                        <input type="text" name="id" value="@pr.id" hidden/>
                        <input type="submit" value="BUY"/>
                    </form>
                </td>
            }
        }


     </tr>
    }

</table>